# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/components/cafe.lavilla.food.menu.core/target/
/components/cafe.lavilla.food.menu.core/cafe.lavilla.food.menu.core.iml
/components/cafe.lavilla.food.menu.endpoint/target/
/components/cafe.lavilla.food.menu.endpoint/cafe.lavilla.food.menu.endpoint.iml
/target/
/cafe-lavilla-food-menu.iml
